.Rproj.user
.Rhistory
.RData
.Ruserdata
snp_data.tsv
PhenotypePredictions.tsv
RA_Risk/Controls/jsnp550typed.chr1.1.xls
RA_Risk/Controls/jsnp550typed.chr1.2.xls
RA_Risk/Controls/jsnp550typed.chr1.3.xls
RA_Risk/Controls/jsnp550typed.chr2.1.xls
RA_Risk/Controls/jsnp550typed.chr2.2.xls
RA_Risk/Controls/jsnp550typed.chr2.3.xls
RA_Risk/Controls/jsnp550typed.chr3.1.xls
RA_Risk/Controls/jsnp550typed.chr3.2.xls
RA_Risk/Controls/jsnp550typed.chr3.3.xls
RA_Risk/Controls/jsnp550typed.chr4.1.xls
RA_Risk/Controls/jsnp550typed.chr4.2.xls
RA_Risk/Controls/jsnp550typed.chr4.3.xls
RA_Risk/Controls/jsnp550typed.chr5.1.xls
RA_Risk/Controls/jsnp550typed.chr5.2.xls
RA_Risk/Controls/jsnp550typed.chr5.3.xls
RA_Risk/Controls/jsnp550typed.chr6.1.xls
RA_Risk/Controls/jsnp550typed.chr6.2.xls
RA_Risk/Controls/jsnp550typed.chr6.3.xls
RA_Risk/Controls/jsnp550typed.chr7.1.xls
RA_Risk/Controls/jsnp550typed.chr7.2.xls
RA_Risk/Controls/jsnp550typed.chr8.1.xls
RA_Risk/Controls/jsnp550typed.chr8.2.xls
RA_Risk/Controls/jsnp550typed.chr9.1.xls
RA_Risk/Controls/jsnp550typed.chr9.2.xls
RA_Risk/Controls/jsnp550typed.chr10.1.xls
RA_Risk/Controls/jsnp550typed.chr10.2.xls
RA_Risk/Controls/jsnp550typed.chr11.1.xls
RA_Risk/Controls/jsnp550typed.chr11.2.xls
RA_Risk/Controls/jsnp550typed.chr12.1.xls
RA_Risk/Controls/jsnp550typed.chr12.2.xls
RA_Risk/Controls/jsnp550typed.chr13.1.xls
RA_Risk/Controls/jsnp550typed.chr13.2.xls
RA_Risk/Controls/jsnp550typed.chr14.1.xls
RA_Risk/Controls/jsnp550typed.chr14.2.xls
RA_Risk/Controls/jsnp550typed.chr15.1.xls
RA_Risk/Controls/jsnp550typed.chr15.2.xls
RA_Risk/Controls/jsnp550typed.chr16.1.xls
RA_Risk/Controls/jsnp550typed.chr16.2.xls
RA_Risk/Controls/jsnp550typed.chr17.1.xls
RA_Risk/Controls/jsnp550typed.chr18.1.xls
RA_Risk/Controls/jsnp550typed.chr18.2.xls
RA_Risk/Controls/jsnp550typed.chr19.1.xls
RA_Risk/Controls/jsnp550typed.chr20.1.xls
RA_Risk/Controls/jsnp550typed.chr21.1.xls
RA_Risk/Controls/jsnp550typed.chr22.1.xls
RA_Risk/Controls/jsnp550typed.chrX.1.xls
RA_Risk/snp_results.json
RA_Risk/snp_uid.xml
AD_Risk/predicting_risk.ipynb
